// Layout of project

// Container-devices
$container-xl: 1440px;
$container-l: 1216px;
$tablet: 1024px;
$container-m: 960px;
$container-s: 620px;
$container-xs: 340px;
$gutter: 32px;

// Mixin of media-queries
@mixin responsive($device) {


    @if $device ==xl {

        // For resolutions upper 1440px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }

    @else if $device ==ul {

        // For resolutions upper 960px
        @media screen and (min-width: $container-m) {
            @content;
        }
    }

    @else if $device ==l {

        // For resolutions between 1140px and 1440px
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }


    @else if $device ==m {

        // For resolutions between 960px and 1140px
        @media screen and (max-width: $container-l) and (min-width: $container-s) {
            @content;
        }
    }


    @else if $device ==s {

        // For resolutions less than 960px
        @media screen and (max-width: $container-m) {
            @content;
        }
    }


    @else if $device ==xs {

        // For resolutions less than 340px
        @media screen and (max-width: $container-xs) {
            @content;
        }
    }

    @else if $device ==tablet {

        // For resolutions less than 340px
        @media screen and (max-width: $tablet) {
            @content;
        }
    }
}

.container {
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include responsive(s) {
        height: 160vh;
    }
}

.card {
    height: 26vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    @include responsive(s) {
        width: 100%;
        height: 80vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        .footer {
            display: none;
        }

    }

}


.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;

    @include responsive(tablet) {

        gap: 3rem;

    }

    @include responsive(s) {
        flex-direction: column;
        gap: 0;
    }

}

.form {

    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    @include responsive(tablet) {
        width: 25.8vw;
    }

    @include responsive(s) {
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .textField {
        width: 20vw;

        @include responsive(tablet) {
            width: 100%;
        }

        @include responsive(s) {
            margin: 1rem 0rem 0rem 0rem;
            width: 80%;
        }

    }

    .button {
        display: flex;
        flex-direction: column-reverse;
        width: 20vw;

        @include responsive(tablet) {
            width: 100%;
        }

        @include responsive(s) {
            width: 80vw;
        }

    }
}

.checkbox {
    margin-left: 18rem;


    @include responsive(tablet) {
        margin: 0rem 0rem 0rem 11rem;

    }

    @include responsive(s) {
        margin: 0rem 0rem 0rem 10rem;
    }

}

.table {

    width: 42.6vw;
    height: 40vh;
    @include responsive(tablet) {
        width: 56vw;
    }

    @include responsive(s) {
        width: 100%;
    }
}


//    background-color: #2F3135;